

/*cover photo*/
#center-text {
    vertical-align: text-top;
    padding-top: 35%;
    padding-bottom: 15%;
    padding-left: 10%;
    color: white;
}

#center {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: large;
    color: white;
}

#left-col {
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: large;
    color: white;
}

#right-col {
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: large;
    color: white;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
}

html {
    height: 100%;
}

.jumbotron {
    background: rgba(1,1,1,0.5);
}