
body {
  margin: 5%;
  background-image: url("../resources/wood_background.jpeg");
  background

}

.wrapper {
  width: 100%;
  border-style: solid;
  border-width: 10px;
  border-radius: 10%;
  padding: 10% 10% 10% 10%;
  background-color: #8fb9b9;
  color: #444;
  text-align: center;
}

.colButton {
  background-color: #d9ffff;
  color: #09ffff;
  border-radius: 25%;
  text-align: center;
  font-size: 10%;
  height: 50px;
  width: 25%;
}

#onePlayer{
  background-color: #8fb9b9 !important;
}
#twoPlayer  {
  background-color: #8fb9b9 !important;
}




